<div>
  <h1>ADD BOOKS</h1>
  <form [formGroup] = "booksForm" (ngSubmit) = "saveBook()">
    <div class="bookInfo">
      <label for="title">TITLE :</label>
      <input type="text" id="title" class="infoInput" formControlName = "title">
    </div>
    <div class="bookInfo">
      <label for="author">AUTHOR :</label>
      <input type="text" id="author" class="infoInput" formControlName = "author">
    </div>
    <div class="bookInfo">
      <label for="isbn">ISBN NUMBER :</label>
      <input type="text" id="isbn" class="infoInput" formControlName = "isbn">
    </div>
    <div class="bookInfo">
      <label for="publicationDate">PUBLICATION DATE : </label>
      <input type="date" id="publicationDate" class="infoInput" formControlName = "publicationDate">
    </div>
    <div class="bookInfo">
      <label for="publisher">PUBLISHER : </label>
      <input type="text" id="publisher" class="infoInput" formControlName = "publisher">
    </div>
    <div class="bookInfo">
      <label for="copies">COPIES : </label>
      <input type="number" id="copies" class="infoInput" formControlName = "copies">
    </div>
    <div class="bookInfo">
      <label for="category">CATEGORY : </label>
      <input type="text" id="category" class="infoInput" formControlName = "category">
    </div>
    <div class="bookInfo">
      <label for="genre">GENRE : </label>
      <input type="text" id="genre" class="infoInput" formControlName = "genre">
    </div>
    <div class="bookInfo">
      <label for="subgenre">SUBGENRE : </label>
      <input type="text" id="subgenre" class="infoInput" formControlName = "subgenre">
    </div>
    <button type="submit">Save Book</button>
  </form>
</div>
