<h1>{{title}}</h1>
<div style="margin: 20px; float: right;">
  <button class="button" (click)="addAdmin()">+ ADD ADMIN</button>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>USERNAME</th>
        <th>PASSWORD</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody *ngIf = "admins.length>0">
      <tr *ngFor = "let admin of admins">
        <td>{{admin.id}}</td>
        <td>{{admin.name}}</td>
        <td>{{admin.username}}</td>
        <td>{{admin.password}}</td>
        <td><button (click)="deleteAdmin(admin.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>